<h1 style="color: #B00100; margin: 0 auto"> <%=@user.name %> Profile </h1> <br/>
<div class="jumbotron">
  <br/>
  <h3 class="display-8">
    <pre>
      <td>Name: <%= @user.name %> </td>
      <td>Surname: <%= @user.surname %> </td>
      <td>Email: <%= @user.phone %></td>
      <td><%= link_to 'Edit', edit_user_registration_path %></td>
    </pre>
  </h3>
</div>