<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
  <h1 style="color: #B00100; margin: 0 auto">Categories</h1> <br/>
  <%= current_user.patient%>
  <%= current_user.doctor%>
  <%= current_user.admin%>
  <%#byebug%>
  <%# if current_user.admin? %>
  
    <h2><td> <%#= link_to "New category", new_category_path, :class => "btn btn-secondary" %> </td></h2>
  
    <% @categories.each do |category| %>
      
        <h2><td> <%= link_to category.title , category_users_path(category) %> </td></h2>
        <% if can? :create, category %>
        <h2><td> <%= link_to "New category", new_category_path(category), :class => "btn btn-secondary" %>
          <%= link_to "Update category", edit_category_path(category), :class => "btn btn-secondary" %>
          <%= link_to "Delete category", category , method: :delete, :class => "btn btn-secondary" %></td></h2>
      
    <% end %>
  <% end %>

</body>
</html>